@model IEnumerable<Plasma_Work_01.Models.ReasonsforNotRecoveredCoronaPaitent>
@{
    ViewBag.Title = "Index";
}

<div style="background-color:lightcyan">
    <h3 style="text-align:center">Reasons For Unrecovered Paitents</h3>
    <div class="d-flex justify-content-end mb-1">
        
      
        <a href="@Url.Action("Create", "ReasonsUnrecovered")" class="btn btn-success"><i class="fa fa-plus"></i>Create New</a>

    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.ReasonsforNotRecoveredCoronaPaitentId)</th>
                <th>@Html.DisplayNameFor(x => x.DiseaseName)</th>
                <th>@Html.DisplayNameFor(x => x.ImproperPlasma)</th>
                <th>@Html.DisplayNameFor(x => x.CriticalState)</th>
                
                <th>Corona Paitent</th>
                <th>Edit or Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var pd in Model)
            {
            <tr>
                <td>@Html.DisplayFor(x => pd.ReasonsforNotRecoveredCoronaPaitentId)</td>
                <td>@Html.DisplayFor(x => pd.DiseaseName)</td>
                <td>@Html.DisplayFor(x => pd.ImproperPlasma)</td>
                <td>@Html.DisplayFor(x => pd.CriticalState)</td>

                <td>@Html.DisplayFor(x => pd.CoronaPositivePaitent.PaitentName)</td>

                <td>
                    <a class="btn btn-info btn sm" href="@Url.Action("Edit", "ReasonsUnrecovered", new { id = pd.ReasonsforNotRecoveredCoronaPaitentId})"><i class="fa fa-pencil"></i>Edit</a>
                    <a class="btn btn-danger btn sm" href="@Url.Action("Delete", "ReasonsUnrecovered", new { id = pd.ReasonsforNotRecoveredCoronaPaitentId})"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-end">
    <ul class="pagination pagination-sm">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <li class="page-item active">
                    @Html.ActionLink(i.ToString(), "Index", "ReasonsUnrecovered", new { page = i }, new { @class = "page-link" })
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink(i.ToString(), "Index", "ReasonsUnrecovered", new { page = i }, new { @class = "page-link" })
                </li>
            }
        }
    </ul>
</div>
@section styles{

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}

