@model Plasma_Work_01.Models.CoronaPositivePaitent
@{
    ViewBag.Title = "Edit";
}



<div class="card" style="width: 50rem; background-color:lightsalmon; position:center;">
    <div class="card-body">

        <img src="~/Pictures/bg8.jpg" class="card-img-top" height="270" alt="Pic">
        <h4 class="card-title" style="text-align:center">Edit Plasma Needed Corona Paitent's Record </h4>
        @using (Html.BeginForm())
        {

            <h3>Edit Corona Paitent</h3>
            @Html.HiddenFor(x => x.CoronaPositivePaitentId)
            <div class="form-group row">
                @Html.LabelFor(x => x.PaitentName, new { @class = "col-form-label col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.PaitentName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PaitentName, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Hospitalorhome, new { @class = "col-form-label col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.Hospitalorhome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Hospitalorhome, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.ContactNo, new { @class = "col-form-label col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.ContactNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ContactNo, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.PlasmaDonationId, new { @class = "col-control-label col-2 text-right" })
                <div class="col-4">
                    @Html.DropDownListFor(x => x.PlasmaDonationId, new SelectList(ViewBag.PlasmaDonations as IEnumerable<Plasma_Work_01.Models.PlasmaDonation>, "PlasmaDonationId", "DonatorName"), "--Select one--", new { @class = "form-control" })

                    @Html.ValidationMessageFor(x => x.PlasmaDonationId, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group row">

                <div class="col-4 offset-2">

                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                    

                </div>
            </div>

        }
        @Html.ActionLink("Back to Corona Paitent Page", "Index")
    </div>
</div>

@section styles{

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
   
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    
}

